.banner {
  padding: 45px 0 30px;
}

.banner__container {
  padding: 145px 0 40px;

  background-image: var(--linear-gradient-accent), url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}

.banner__title {
  margin-bottom: 100px;
  padding-left: 112px;
  font-size: 70px;
}

.banner__timer {
  text-align: center;
}

.timer__text {
  margin-bottom: 5px;
}

.timer__time {
  display: inline-flex;
  column-gap: 30px;
  font-size: 32px;
  font-weight: 400;
}

.timer__number {
  font-size: 60px;
  font-weight: 700;
}

/* Media */

@media (max-width: 1080px) {
  .banner {
    padding: 30px 0 12px;
  }

  .banner__container {
    padding: 80px 0 36px;
  }

  .banner__title {
    max-width: 401px;
    margin-bottom: 11px;
    padding-left: 80px;
    font-size: 40px;
  }

  .timer__text {
    margin-bottom: 10px;
  }

  .timer__time {
    column-gap: 20px;
    font-size: 20px;
  }

  .timer__number {
    font-size: 40px;
  }
}

@media (max-width: 820px) {
  .banner {
    padding: 25px 0 20px;
  }

  .banner__container {
    padding: 64px 0 30px;
  }

  .banner__title {
    max-width: 100%;
    margin-bottom: 82px;
    padding-left: 80px;
    font-size: 30px;
  }

  .timer__text {
    font-size: 12px;
  }

  .timer__time {
    column-gap: 10px;
    font-size: 16px;
  }

  .timer__number {
    font-size: 30px;
  }
}

@media (max-width: 560px) {
  .banner__container {
    padding-top: 50px;
    background-image: var(--linear-gradient-accent), url(../images/banner-mobile.jpg);
  }

  .banner__title {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .banner {
    padding: 21px 0 10px;
  }

  .banner__title {
    margin-bottom: 189px;
    font-size: 22px;
  }

  .timer__text {
    margin-bottom: 6px;
    font-size: 8px;
  }

  .timer__time {
    column-gap: 8px;
    font-size: 12px;
  }

  .timer__number {
    font-size: 20px;
  }
}
