.header {
  padding: 27px 0 45px;
}

.header__container {
  display: grid;
  grid-template-columns: 190px minmax(70px, 123px) 151px minmax(70px, 99px) minmax(440px, 757px) minmax(70px, 97px) 354px;
  grid-template-rows: auto;
  grid-template-areas: "logo . menu . search-form . user";
  align-items: center;
}

.header__logo {
  grid-area: logo;

  font-family: var(--font-family-accent);
  font-size: 30px;
  letter-spacing: 0.06em;

  color: var(--color-dark);
}

.header__logo-text--color-blue {
  color: var(--color-blue);
}

.header__menu-button {
  grid-area: menu;

  display: inline-flex;
  height: var(--interactive-height);
  padding-inline: 35px 28px;
  align-items: center;
  column-gap: 10px;
  max-width: 151px;

  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;

  color: inherit;
  background-color: var(--color-blue);
  border-radius: 10px;
}

.header__search-form {
  grid-area: search-form;

  position: relative;
  max-width: 757px;
  height: var(--interactive-height);
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 40px;

  color: var(--color-dark);
  background-color: var(--color-gray-alt);
  border-radius: 30px;
}

.header__search-input::placeholder {
  color: var(--color-gray);
}

.header__search-button {
  position: absolute;
  top: 0;
  right: 0;

  width: 101px;
  height: 100%;

  color: inherit;
  background-color: var(--color-blue);
  border-radius: 30px;
}

.header__search-icon {
  margin: 0 auto;
}

.header__user {
  grid-area: user;

  display: inline-flex;
  justify-content: space-between;
  width: 354px;
}

.user__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 61px;

  font-weight: 400;

  color: var(--color-dark);
  transition-property: color, outline;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.user__link:hover {
  color: var(--color-blue-accent);
}

.user__link:focus {
  outline: 1px solid var(--color-blue-alt);
}

.user__link:active {
  color: var(--color-blue-alt);
}

.profile {
  width: 24px;
  height: 24px;
}

.cart {
  width: 31px;
  height: 30px;
}

.favorites {
  width: 30px;
  height: 29px;
}

.cart__circle {
  color: var(--color-light)
}

.cart__counter {
  color: var(--color-blue)
}

/* Button */

.button {
  transition-property: background-color, box-shadow, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--color-blue-accent);
  box-shadow: 1px 1px 10px var(--color-blue-accent);
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: var(--color-blue-alt);
  box-shadow: 1px 1px 10px var(--color-blue-alt);
  transform: scale(0.98);
}

/* Media */

@media (max-width: 1440px) {
  .header__container {
    grid-template-columns: 190px 151px 354px;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo menu user"
    "search-form search-form search-form";
    justify-content: space-between;
    row-gap: 34px;
  }

  .header__search-form {
    max-width: 1100px;
    width: 100%;
    justify-self: center;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 34px 0 30px;
  }

  .header__container {
    grid-template-columns: 191px minmax(540px, 700px);
    grid-template-areas:
      "logo user"
      "menu search-form";
  }

  .header__user {
    max-width: 294px;
    justify-self: end;
  }
}

@media (max-width: 820px) {
  .header {
    padding: 25px 0;
  }

  .header__container {
    grid-template-columns: 165px minmax(300px, 540px);
    row-gap: 29px;
  }

  .header__logo {
    font-size: 26px;
  }

  .header__menu-button {
    max-width: 115px;
    padding-inline: 21px;
    column-gap: 7px;

    font-size: 16px;

    border-radius: 6px;
  }

  .header__search-input {
    padding-left: 30px;
    font-size: 12px;
  }

  .header__search-button {
    width: 82px;
  }

  .header__search-icon {
    width: 21px;
    height: 21px;
  }

  .header__user {
    max-width: 221px;
  }

  .user__link {
    height: 44px;
    font-size: 12px;
  }

  .profile {
    width: 20px;
    height: 20px;
  }

  .cart {
    width: 26px;
    height: 26px;
  }

  .favorites {
    width: 26px;
    height: 24px;
  }
}

@media (max-width: 540px) {
  .header__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "logo ."
      "menu user"
      "search-form search-form";
    row-gap: 20px;
  }
}

@media (max-width: 460px) {
  .header {
    padding: 20px 0;
  }

  .header__logo {
    font-size: 18px;
  }

  .header__menu-button {
    max-width: 79px;
    padding-inline: 15px 14px;
    column-gap: 4px;

    font-size: 12px;
  }

  .header__menu-icon {
    width: 10.5px;
    height: 7px;
  }

  .header__search-form {
    width: 100%;
  }

  .header__search-input {
    padding-left: 16px;
    font-size: 8px;
  }

  .header__search-button {
    width: 50px;
  }

  .header__search-icon {
    width: 14.5px;
    height: 14.5px;
  }

  .header__user {
    width: 130px;
    height: 30px;
    align-items: center;
  }

  .user__link {
    justify-content: center;
  }

  .user__link-text {
    display: none;
  }
}
