.timer {
  width: max-content;
  margin: 0 auto;
  text-align: center;
	color: #a8e4a0;
}

.timer--over-soon {
  color: #e4717a;
}

.timer__title {
	margin-bottom: 5px;
}

.timer__time {
	display: inline-flex;
	column-gap: 30px;
	font-size: 32px;
	font-weight: 400;
}

.timer__number {
	font-size: 60px;
	font-weight: 700;
}

/* Media */

@media (max-width: 1080px) {
	.timer__title {
		margin-bottom: 10px;
	}

	.timer__time {
		column-gap: 20px;
		font-size: 20px;
	}

	.timer__number {
		font-size: 40px;
	}
}

@media (max-width: 820px) {
	.timer__title {
		font-size: 12px;
	}

	.timer__time {
		column-gap: 10px;
		font-size: 16px;
	}

	.timer__number {
		font-size: 30px;
	}
}

@media (max-width: 460px) {
	.timer__title {
		margin-bottom: 6px;
		font-size: 8px;
	}

	.timer__time {
		column-gap: 8px;
		font-size: 12px;
	}

	.timer__number {
		font-size: 20px;
	}
}
