:root {
  --color-light: #fff;
  --color-dark: #2d2d2d;
  --color-gray: #8f8f8f;
  --color-gray-alt: #efefef;
  --color-yellow: #ffbd13;
  --color-blue: #3670c7;
  --color-blue-alt: #38c0eb;
  --color-blue-accent: #7a9dd2;
  --color-red: #f91155;

  --linear-gradient: linear-gradient(181deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  --linear-gradient-accent: linear-gradient(181deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);

  --font-family-base: 'Lato', sans-serif;
  --font-family-accent: 'Open Sans', sans-serif;

  --interactive-height: 54px;
  --border-radius: 20px;

  --transition-duration: .2s;
  --transition-timing-function: linear;

  --container-width: 1770px;
  --container-padding-x: 42px;
}

@media (max-width: 1024px) {
  :root {
    --border-radius: 16px;
  }
}

@media (max-width: 820px) {
  :root {
    --container-padding-x: 34px;
    --interactive-height: 42px;
    --border-radius: 12px;
  }
}

@media (max-width: 460px) {
  :root {
    --container-padding-x: 20px;
    --interactive-height: 30px;
    --border-radius: 8px;
  }
}
